JWT_SECRET=t84y3r89hw498stuvw48ru8v94nyu98s4eyu89tvsyne5uosmyov8
JWT_LIFETIME=600000
AWS_ACCESS_KEY_ID=<key_id>
AWS_SECRET_ACCESS_KEY=<access_key>
AWS_ENDPOINT_URL=<endpoint>
AWS_REGION=<reg>
AWS_BUCKET=<bucket>
CLOUDINARY_NAME=<c_name>
CLOUDINARY_API_KEY=<c_api_key>
CLOUDINARY_API_SECRET=<c_api_secret>
DB_NAME=springkod
DB_USER=kod_user
DB_PASSWORD=password
ML_SERVICE_URL=http://ml_service:8000
BACKEND=http://backend